<a href="https://colab.research.google.com/github/hadokan/python_basics/blob/main/basic_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# We do not need to declare variables before using them.
num1 = 5
print(num1, 'is of type', type(num1))

num2 = 2.0
print(num2, 'is of type', type(num2))

num3 = 1+2j
print(num3, 'is of type', type(num3))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

In [27]:
# Notes
# Lists are used to store multiple data.
# List with elements of different data types is possible.
# List with duplicate elements is possible.
# Empty list could be define as listx = []
# The list index always starts with 0.
# Python allows negative indexing for its sequences.
# The index of -1 refers to the last item, -2 to the second last item and so on.

listX = ["X", "Y", 3]

# access element at index 0
print(listX[0])   # X

# access element at index 2
print(listX[2])   # Y

print(listX, 'is of type', type(listX))
print(listX[2], 'is of type', type(listX[2]))

listX[2]='A'
print(listX[2])

X
3
['X', 'Y', 3] is of type <class 'list'>
3 is of type <class 'int'>
A

In [28]:
# it is possible to access a portion of a list using the slicing operator :. For example,
my_list = ['h','a','k','a','n','d','o','g','a','n']

# items from index 2 to index 4
print(my_list[2:5])

# items from index 5 to end
print(my_list[5:])

# items beginning to end
print(my_list[:])

['k', 'a', 'n']
['d', 'o', 'g', 'a', 'n']
['h', 'a', 'k', 'a', 'n', 'd', 'o', 'g', 'a', 'n']

In [29]:
numbers = [211, 134, 154, 612]

print("Before Append:", numbers)

# using append method
numbers.append(0)

print("After Append:", numbers)

Before Append: [211, 134, 154, 612]
After Append: [211, 134, 154, 612, 0]

In [30]:
numbers = [1, 3, 5, 7]

even_numbers = [6, 8, 10]

# extent it
numbers.extend(even_numbers)

print("List after extend:", numbers)

List after extend: [1, 3, 5, 7, 6, 8, 10]

In [31]:
numbers = [100, 300, 2000]

# insert an element at index 1 (second position)
numbers.insert(2, 'A')
numbers.insert(3, 315)

print(numbers) # [10, 20, 30, 40]

[100, 300, 'A', 315, 2000]

In [32]:
XX = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

# deleting the second item  "B"
del XX[1]
print(XX)

['A', 'C', 'D', 'E', 'F', 'G']

In [33]:
# A tuple is created by placing all the items (elements) inside parentheses (), separated by commas.
# The parentheses are optional.

#product = ('X', 'Y' , 3)
product = 'X', 'Y' , 3

# access element at index 0
print(product[0])   # X

# access element at index 1
print(product[1])   # Y

#Tuples are immutable. Tuples cannot be modified.
#product[2]='A'
#print(product[2])

X
Y

In [34]:
# In general, we use tuples for different data types and lists for similar data types.
# Tuples are immutable, iterating through a tuple is faster than with a list. There may be a slight performance boost.
# Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
# If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

In [35]:
# Strings are immutable. That means the characters of a string cannot be changed.

name = 'Python'
print(name)

message = 'Python for VASP'
print(message)

# message[1]='a'  --> TypeError: 'str' object does not support item assignment

Python
Python for VASP

In [36]:
# multiline string
message = """
Bu program Araç Yol Optimizasyonudur
Lütfen Seçim Yapınız
"""

print(message)

Bu program Araç Yol Optimizasyonudur
Lütfen Seçim Yapınız

In [37]:
greet = "Merhaba, "
name = "Hakan"

# using + operator
result = greet + name
print(result)

# Output: Hello, Jack

Merhaba, Hakan

In [38]:
# create a set named student_id
student_id = {1122, 4124, 4126, 3118, 2215}

# display student_id elements
print(student_id)

# display type of student_id
print(type(student_id))

#student_id[0]  -->Error

{1122, 2215, 4126, 4124, 3118}
<class 'set'>

In [39]:
# first set
A = {1, 3, 5}

# second set
B = {1, 2, 3}

#A = [1, 3, 5]
#B = [1, 2, 3]
# --> AttributeError: 'list' object has no attribute 'intersection'

# perform intersection operation using &
#print('Intersection using &:', A & B)

# perform intersection operation using intersection()
print('Intersection using intersection():', A.intersection(B))

Intersection using intersection(): {1, 3}

In [40]:
# create a dictionary named XX
password_XX = {'hakan': '0011', 'alex': '0901', 'nick': '0007'}

print(password_XX)

print(password_XX['hakan'])  # prints 0011

#print(password_XX['0901'])  # error message  KeyError: '0901'

{'hakan': '0011', 'alex': '0901', 'nick': '0007'}
0011