<a href="https://colab.research.google.com/github/hadokan/python_basics/blob/main/python_panda_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.DataFrame({'A': [0, 1,2,2],
                   'B': [5, 6,3,4],
                   'C': [6, 9,4,8],
                   'C': [6, 9,9,1],
                   'D': [6, 9,0,0]})

print(df)
print('..................')
print(df.head(2))
print('..................')
print(df.tail(2))
print('..................')
print(df.info())

   A  B  C  D
0  0  5  6  6
1  1  6  9  9
2  2  3  9  0
3  2  4  1  0
..................
   A  B  C  D
0  0  5  6  6
1  1  6  9  9
..................
   A  B  C  D
2  2  3  9  0
3  2  4  1  0
..................
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
 3   D       4 non-null      int64
dtypes: int64(4)
memory usage: 256.0 bytes
None

In [2]:
# Download and read file from drive

from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd

#Read csv file
df = pd.read_csv(r'/content/gdrive/My Drive/TestCSV.csv')

print(df.head(5))

# data frame to excel save drive
df.to_excel (r'/content/gdrive/My Drive/panda_datatry2.xlsx',index = None, header=True)

# read excel file frm drive
df2 = pd.read_excel(r'/content/gdrive/My Drive/panda_datatry2.xlsx')


df2.to_csv(r'/content/gdrive/My Drive/panda_datatry2.csv', index = None, header=True)


print(df2.head(4))

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
   Duration         Date  Consumption  Speed  Distance
0        30  2023/12/01'           11     90     100.0
1        30  2023/12/02'           22     90     200.0
2        30  2023/12/03'           33     90     300.0
3        45  2023/12/04'           15     80     122.0
4        45  2023/12/05'           18     80     144.0
   Duration         Date  Consumption  Speed  Distance
0        30  2023/12/01'           11     90     100.0
1        30  2023/12/02'           22     90     200.0
2        30  2023/12/03'           33     90     300.0
3        45  2023/12/04'           15     80     122.0

In [26]:

from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd


# read excel file frm drive
df2 = pd.read_excel(r'/content/gdrive/My Drive/panda_datatry3.xlsx')

# Write the dataframe object
# into csv file
df2.to_csv ("TestCSV.csv", index = None, header=True)

df2.to_csv(r'/content/gdrive/My Drive/TestCSV.csv', index = None, header=True)



# read csv file and convert
# into a dataframe object
df = pd.DataFrame(pd.read_csv("TestCSV.csv"))

# show the dataframe
df.head(5)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

   Duration         Date  Consumption  Speed  Distance
0        30  2023/12/01'           11     90     100.0
1        30  2023/12/02'           22     90     200.0
2        30  2023/12/03'           33     90     300.0
3        45  2023/12/04'           15     80     122.0
4        45  2023/12/05'           18     80     144.0

In [27]:
#df_eraseNAN = df.dropna()
# Delete 18 22 28
#..............................................................
#df_eraseNAN = df.dropna(inplace = False)
# the dropna(inplace = True) does not return a new DataFrame.
# it just removes all rows containing NaN values from the original df.
#..............................................................
# Replace NULL values with the number 999:
#df.fillna(999, inplace = True)
#..............................................................
# Replace NULL values in the "Distace" columns with the number 999:
#df["Distance"].fillna(999, inplace = True)
#..............................................................
# the MEAN is calculaeted, and replaced by empty values:
x = df["Distance"].mean()
#x = df["Distance"].median()
#x = df["Calories"].mode()[0]
# Mode is the most frequently shown value.

df["Distance"].fillna(x, inplace = True)

#print(df_eraseNAN)
print('mean of the distance',x)

mean of the distance 153.86666666666667

In [28]:
df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

    Duration       Date  Consumption  Speed    Distance
0         30 2023-12-01           11     90  100.000000
1         30 2023-12-02           22     90  200.000000
2         30 2023-12-03           33     90  300.000000
3         45 2023-12-04           15     80  122.000000
4         45 2023-12-05           18     80  144.000000
5         45 2023-12-06           20     80  156.000000
6         60 2023-12-07           18     80  143.000000
7        450 2023-12-08            8     80   67.000000
8         22 2023-12-09           11     80   87.000000
9         60 2023-12-10            8     80   65.000000
10        55 2023-12-11           47     90  423.000000
11        55 2023-12-12            3     90   24.000000
12        55 2023-12-12           38     90  342.000000
13        55 2023-12-13            3     80   21.000000
14        55 2023-12-14           15     80  123.000000
15        55 2023-12-15           17     80  134.000000
16        60 2023-12-16           85     80  678.000000
17        33 2023-12-17           45     80  356.000000
18        45 2023-12-18           11     55  153.866667
19        60 2023-12-19            4     77   32.000000
20        22 2023-12-20           15     77  112.000000
21        60 2023-12-21           22     55  123.000000
22        45        NaT           10     55   54.000000
23        60 2023-12-23           26     55  144.000000
24        45 2023-12-24           45     55  246.000000
25        60 2023-12-25           10     55   56.000000
26        60 2023-12-26           14     55   78.000000
27        60 2023-12-27           13     77   98.000000
28        60 2023-12-28           11     77  153.866667
29        44 2023-12-29           20     22   45.000000
30        44 2023-12-30           15     22   32.000000
31        44 2023-12-31           50     22  111.000000

In [31]:
df.dropna(subset=['Date'], inplace = True)

df

    Duration       Date  Consumption  Speed    Distance
0         30 2023-12-01           11     90  100.000000
1         30 2023-12-02           22     90  200.000000
2         30 2023-12-03           33     90  300.000000
3         45 2023-12-04           15     80  122.000000
4         45 2023-12-05           18     80  144.000000
5         45 2023-12-06           20     80  156.000000
6         60 2023-12-07           18     80  143.000000
7        450 2023-12-08            8     80   67.000000
8         22 2023-12-09           11     80   87.000000
9         60 2023-12-10            8     80   65.000000
10        55 2023-12-11           47     90  423.000000
11        55 2023-12-12            3     90   24.000000
12        55 2023-12-12           38     90  342.000000
13        55 2023-12-13            3     80   21.000000
14        55 2023-12-14           15     80  123.000000
15        55 2023-12-15           17     80  134.000000
16        60 2023-12-16           85     80  678.000000
17        33 2023-12-17           45     80  356.000000
18        45 2023-12-18           11     55  153.866667
19        60 2023-12-19            4     77   32.000000
20        22 2023-12-20           15     77  112.000000
21        60 2023-12-21           22     55  123.000000
23        60 2023-12-23           26     55  144.000000
24        45 2023-12-24           45     55  246.000000
25        60 2023-12-25           10     55   56.000000
26        60 2023-12-26           14     55   78.000000
27        60 2023-12-27           13     77   98.000000
28        60 2023-12-28           11     77  153.866667
29        44 2023-12-29           20     22   45.000000
30        44 2023-12-30           15     22   32.000000
31        44 2023-12-31           50     22  111.000000

In [36]:
df.loc[7, 'Duration'] = 55

0     30
1     30
2     30
3     45
4     45
5     45
6     60
7     55
8     22
9     60
10    55
11    55
12    55
13    55
14    55
15    55
16    60
17    33
18    45
19    60
20    22
21    60
23    60
24    45
25    60
26    60
27    60
28    60
29    44
30    44
31    44
Name: Duration, dtype: int64

In [45]:
df.loc[0]

Duration                        30
Date           2023-12-01 00:00:00
Consumption                     11
Speed                           90
Distance                     100.0
Name: 0, dtype: object

In [46]:
df.loc[[0,7]]

   Duration       Date  Consumption  Speed  Distance
0        30 2023-12-01           11     90     100.0
7        55 2023-12-08            8     80      67.0

In [50]:
df.loc[4:6, 'Date']

4   2023-12-05
5   2023-12-06
6   2023-12-07
Name: Date, dtype: datetime64[ns]

In [51]:
for x in df.index:
  if df.loc[x, "Duration"] > 60:
    df.loc[x, "Duration"] = 61

In [52]:
for x in df.index:
  if df.loc[x, "Distance"] > 500:
    df.drop(x, inplace = True)

In [53]:
df

    Duration       Date  Consumption  Speed    Distance
0         30 2023-12-01           11     90  100.000000
1         30 2023-12-02           22     90  200.000000
2         30 2023-12-03           33     90  300.000000
3         45 2023-12-04           15     80  122.000000
4         45 2023-12-05           18     80  144.000000
5         45 2023-12-06           20     80  156.000000
6         60 2023-12-07           18     80  143.000000
7         55 2023-12-08            8     80   67.000000
8         22 2023-12-09           11     80   87.000000
9         60 2023-12-10            8     80   65.000000
10        55 2023-12-11           47     90  423.000000
11        55 2023-12-12            3     90   24.000000
12        55 2023-12-12           38     90  342.000000
13        55 2023-12-13            3     80   21.000000
14        55 2023-12-14           15     80  123.000000
15        55 2023-12-15           17     80  134.000000
17        33 2023-12-17           45     80  356.000000
18        45 2023-12-18           11     55  153.866667
19        60 2023-12-19            4     77   32.000000
20        22 2023-12-20           15     77  112.000000
21        60 2023-12-21           22     55  123.000000
23        60 2023-12-23           26     55  144.000000
24        45 2023-12-24           45     55  246.000000
25        60 2023-12-25           10     55   56.000000
26        60 2023-12-26           14     55   78.000000
27        60 2023-12-27           13     77   98.000000
28        60 2023-12-28           11     77  153.866667
29        44 2023-12-29           20     22   45.000000
30        44 2023-12-30           15     22   32.000000
31        44 2023-12-31           50     22  111.000000

In [55]:
print(df.duplicated())

df.drop_duplicates(inplace = True)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool