<a href="https://colab.research.google.com/github/hadokan/python_basics/blob/main/Python_panda_basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas

dataset = {
  'stores': ["istanbul", "ankara", "antalya"],
  'sales': [13000, 4000, 2000]
}

dataset_DF = pandas.DataFrame(dataset)

print(dataset_DF)
print('...............')
#refer to the row index:
print(dataset_DF.loc[0])
print('...............')
print(dataset_DF.loc[2])
print('...............')
print(dataset_DF.loc[[0,2]])

     stores  sales
0  istanbul  13000
1    ankara   4000
2   antalya   2000
...............
stores    istanbul
sales        13000
Name: 0, dtype: object
...............
stores    antalya
sales        2000
Name: 2, dtype: object
...............
     stores  sales
0  istanbul  13000
2   antalya   2000

In [24]:
import pandas as pd

data = {
  "customers": [10, 15, 12],
  "sales": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)
print('...............')
#refer to the named index:
print(df.loc["day2"])

      customers  sales
day1         10     50
day2         15     40
day3         12     45
...............
customers    15
sales        40
Name: day2, dtype: int64

In [5]:
import pandas as pd

a = [0,1,3,3, 7,'A', 2]

seriA = pd.Series(a)

print(seriA)

0    0
1    1
2    3
3    3
4    7
5    A
6    2
dtype: object

In [6]:
import pandas as pd

a = [0,5,21,3]

myvar = pd.Series(a, index = ["x", "y", "z",'d'])

print(myvar)

x     0
y     5
z    21
d     3
dtype: int64

In [9]:
import pandas as pd

runs = {"day1": 3, "day2": 5, "day3": 7}

runsX = pd.Series(runs)

#myvar = pd.DataFrame(runs)
#ValueError: If using all scalar values, you must pass an index

print(runsX)

day1    3
day2    5
day3    7
dtype: int64

In [11]:
import pandas as pd

runsnew = {"day1": 3, "day2": 0, "day3": 5}

runsnewS = pd.Series(runsnew, index = ["day1", "day2"])

print(runsnewS)

day1    3
day2    0
dtype: int64

In [29]:
df = pd.DataFrame({'A': [0, 1],
                   'B': [5, 6],
                   'C': [6, 9]})
df.to_csv(index=False)
#'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

print(df)

   A  B  C
0  0  5  6
1  1  6  9

In [ ]:
# Numpy
# A list is an ordered collection of elements, where each element has a specific index starting from 0.
# Lists are mutable, meaning you can add, remove, or modify elements after creating the list.
# The elements in a list can be accessed by their index values.
# The indexes of a list are always integers.
# A list can hold duplicate values.