<a href="https://colab.research.google.com/github/hadokan/python_basic2advance/blob/main/python_sklearn_multiregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Download and read file from drive

from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd

# read excel file frm drive
df = pd.read_excel(r'/content/gdrive/My Drive/linest_data_excel.xlsx')

from sklearn import linear_model

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [7]:
df

,Floor space (x1),Offices (x2),Entrances (x3),Age (x4),Assessed value (y)
0,2310,2,2.0,20,142.0
1,2333,2,2.0,12,144.0
2,2356,3,1.5,33,151.0
3,2379,3,2.0,43,150.0
4,2402,2,3.0,53,139.0
5,2425,4,2.0,23,169.0
6,2448,2,1.5,99,126.0
7,2471,2,2.0,34,142.9
8,2494,3,3.0,23,163.0
9,2517,4,4.0,55,169.0
10,2540,2,3.0,22,149.0

In [8]:
X = df[['Floor space (x1)',	'Offices (x2)',	'Entrances (x3)',	'Age (x4)']]
y = df['Assessed value (y)']

In [13]:
regr = linear_model.LinearRegression()
regr.fit(X, y)
predictedV1 = regr.predict([[2379,3,2,43]])

predictedV2 = regr.predict([[2494,3,3,23]])

print(predictedV1)
print(predictedV2)

[150.7002188]
[161.1169323]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
# Solve Octave/MATLAB --> pseudo inverse matrix
#  clear all,clc,close all
#  A=[2.310 	 2 	 2 	 20 	 142;
#  2333 	 2 	 2 	 12 	 144 ;
#  2356 	 3 	 1.5 	 33 	 151 ;
#  2379 	 3 	 2 	 43 	 150 ;
#  2402 	 2 	 3 	 53 	 139 ;
#  2425 	 4 	 2 	 23 	 169 ;
#  2448 	 2 	 1.5 	 99 	 126 ;
#  2471 	 2 	 2 	 34 	 143 ;
#  2494 	 3 	 3 	 23 	 163 ;
#  2517 	 4 	 4 	 55 	 169 ;
#  2540 	 2 	 3 	 22 	 149];

#  X=A(:,1:4);
#  y=A(:,5);

#  b=pinv(X)*y

#  den1=[2379,3,2,43]   %150
#  den2=[2494,3,3,23]   %163

# predictedV1 = den1*b
# predictedV2 = den2*b