<a href="https://colab.research.google.com/github/hadokan/python_basics/blob/main/python_loops_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
departments = ['Human resources', 'Operations management department', 'Information technology department']

# run a loop for each item of the list
for ne in departments:
    print(ne)

Human resources
Operations management department
Information technology department

In [17]:
# create a sequence of numbers from 0 to 3
numbers = range(4)

# iterating through the sequence of numbers
for i in numbers:
    print(i)

0
1
2
3

In [18]:
for x in 'Hakan':
    print(x)

H
a
k
a
n

In [19]:
languages = ['x', 'y', 'z']

for language in languages:
    print('1')
    print('...')

1
...
1
...
1
...

In [20]:
digits = [2, 3, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

2
3
5
No items left.

In [21]:
age = 32

# the test condition is always True
#while age > 18:
    #print('You can vote')

In [22]:
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [31]:
# To calculate the sum of numbers until the user enters zero

total = 0

number = int(input('Enter a number: '))

# add numbers until number is 99
while number != 99:
    total += number    # total = total + number

    # take integer input again
    number = int(input('Enter a number: '))


print('total =', total)

Enter a number: 6
Enter a number: 4
Enter a number: 0
Enter a number: 99
total = 10

In [33]:
counter = 0

while counter < 2:
    print('Inside loop',counter)
    counter = counter + 1
else:
    print('Inside else')

Inside loop 0
Inside loop 1
Inside else

In [35]:
counter = 0

while counter < 7:
    # loop ends because of break
    # the else part is not executed
    if counter == 3:
        break

    print('Inside loop',counter)
    counter = counter + 1
else:
    print('Inside else')

Inside loop 0
Inside loop 1
Inside loop 2