<a href="https://colab.research.google.com/github/hadokan/python_basics/blob/main/python_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A collection of unique data creates a set. Elements cannot be duplicate in a set.

In [4]:
# Create a set of integer type
student_id = {12, 11,12, 14, 9, 5, 5}
print('Student ID:', student_id)

# 12 and 5 will be unique

Student ID: {5, 9, 11, 12, 14}

In [6]:
numbers = {'A', 34, 'Xa', 12}

print('Initial Set:',numbers)

# using add() method
numbers.add(32)

print('Updated Set:', numbers)

Initial Set: {'A', 'Xa', 34, 12}
Updated Set: {32, 34, 12, 'A', 'Xa'}

In [16]:
telephones = {'apple', 'samsung','LG'}
vacuumcleaner = ['fantom', 'dyson', 'fakir']


products=telephones.update(vacuumcleaner)

print(products)  # --> None

print(telephones)
products=telephones
print(products)

telephones.discard('dyson')
print(telephones)

None
{'fakir', 'LG', 'fantom', 'dyson', 'samsung', 'apple'}
{'fakir', 'LG', 'fantom', 'dyson', 'samsung', 'apple'}
{'fakir', 'LG', 'fantom', 'samsung', 'apple'}

In [21]:
vacuumcleaner = ['fantom', 'dyson', 'fakir']
type(vacuumcleaner)
print(vacuumcleaner[0])

#vacuumcleaner2 = {'fantom', 'dyson', 'fakir'}
#type(vacuumcleaner2)
#print(vacuumcleaner2[0])
# --> TypeError: 'set' object is not subscriptable

enumerate

fantom

enumerate

In [27]:
vacuumcleaner2 = {'fantom', 'dyson', 'fakir'}
type(vacuumcleaner2)

enumeratevacuumX=(enumerate(vacuumcleaner2))

print(list(vacuumcleaner2))
print(list(enumeratevacuumX))

['fakir', 'dyson', 'fantom']
[(0, 'fakir'), (1, 'dyson'), (2, 'fantom')]

In [31]:
products = ['X', 'Y', 'Z',2]

for item in enumerate(products):
  print(item)

print()

for count, item in enumerate(products):
  print(count, item)

print()

# changing default start value
for count, item in enumerate(products, 1000):
  print(count, item)

(0, 'X')
(1, 'Y')
(2, 'Z')
(3, 2)

0 X
1 Y
2 Z
3 2

1000 X
1001 Y
1002 Z
1003 2